[submodule "external/logmich"]
	path = external/logmich
	url = https://github.com/logmich/logmich.git
[submodule "external/uitest"]
	path = external/uitest
	url = https://github.com/grumbel/uitest.git
[submodule "external/tinycmmc"]
	path = external/tinycmmc
	url = https://github.com/grumbel/tinycmmc.git
[submodule "external/exspcpp"]
	path = external/exspcpp
	url = https://github.com/grumbel/exspcpp.git
